{% extends 'layout.html' %}
{% block body %}
<br>
Vehicle: {{ vehicleedit.registration }}
<br>
<form method='POST' action=''>
        {{ form.hidden_tag() }}
        {{ form.registration.label }} {{ form.registration }} {{ form.registration.errors }}
        <br>
        {{ form.make.label }} {{ form.make }} {{ form.make.errors }}
        <br>
        {{ form.model.label }} {{ form.model }} {{ form.model.errors }}
        <br>
        {{ form.submit }}
    {{ message }}
    </form>

{% endblock body %}