{% extends 'layout.html' %}
{% block body %}

<table style="margin-left: 20px;">
<!-- Table headers -->
    <th>
         <tr style="color: black; ">
        <th>Car Park</th>
        <th>Capacity</th>
	<th>View</th>

         </tr>
    </th>

{% for carpark in query%}

<tr>
 <td>
     {{carpark.name}} 
 </td>    
 <td>
     {{carpark.capacity}}
 </td>
 <td>
	 <form action="{{ url_for('carpark', id=carpark.id) }}">
            <input type=submit value="View Car Park">
	 </form>
 </td>
</tr>
  
{% endfor %}


{% endblock body %}