{% extends 'layout.html' %}
{% block body %}
        <div class='form'>
            <form method='POST' action=''>
                {{ form.hidden_tag() }}
                {{ form.registration.label }} {{ form.registration }}
                <br>
                {{ form.make.label }} {{ form.make }}
                <br>
                {{ form.model.label }} {{ form.modelt}}
                <br>
                {{ form.submit }}
            {{ message }}
            </form>
        </div>
{% endblock body %}